// Aqui vai somente as variáveis das cores do seu projeto

// #688e14 -> Outra versão do verde da second COLOR

$primary-color: #fcec04;
$second-color: #33ac5b;
$third-color: #e84045;
$fourth-color: #ece795;
$fifth-color: black;
$six-color: #738869;
