// Aqui você faz toda estilização do seu projeto, obviamente endereçado a página na qual ele se referencia

.main-content {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 60px 0px;

  h1 {
    color: #000;
    padding: 10px 0px;
    padding-bottom: 3px;
    font-size: 30px;
    font-family: "Heebo", sans-serif;
    font-weight: 900;
  }
  h3 {
    color: #7b7b7b;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: "Zen Loop", cursive;
  }
  p {
    padding: 6px 0px;
    text-align: justify;
    font-size: 16px;
    font-family: "Heebo", sans-serif;
  }
}


